<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="My Blog" href="https://yuelvic.github.io/blog/" target="_blank"><i class="icon fa fa-rss"></i></a>
        <a aria-label="My Twitter" target="_blank" href="https://twitter.com/yuelvic"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="My Google Plus" target="_blank" href="https://plus.google.com/u/0/104475106210913980782"><i class="icon fa fa-google-plus" aria-hidden="true"></i></a>
        <a aria-label="My Linkedin" target="_blank" href="https://www.linkedin.com/in/emmanuel-victor-garcia-244540100/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/yuelvic/"><i class="icon fa fa-github" aria-hidden="true"></i></a>
        <a aria-label="My Email" target="_blank" href="mailto:emmanuelgvictor@gmail.com"><i class="icon fa fa-envelope-square" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
