<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/xonio.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> XONIO </h3>
    <ul>
      <li> Android Developer </li>
    </ul>
    <p>XONIO lets mobile consumers access the token economy using telco prepaid airtime. It will be the easiest way to create a blockchain wallet, offering a unique financial inclusion solution for digital goods in emerging markets.</p>
    <a class="project-link" href="https://xon.io/" target="_blank">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/xeleblive.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Xeleb Live! </h3>
    <ul>
      <li> Android and iOS Developer </li>
    </ul>
    <p>Engage with stories that excite you. Explore different channels or see who your friends are following with just one button. Share your thoughts and feelings by writing messages, sending gifts, or simply typing in comments. </p>
    <a class="project-link" href="https://play.google.com/store/apps/details?id=com.xeleb.xeleblive&hl=en" target="_blank">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/swiperx.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> SwipeRx </h3>
    <ul>
      <li> Android and Backend Developer </li>
    </ul>
    <p>Connect with fellow pharmacy professionals, join discussions, keep up with the latest announcements from your association and see the latest news from the pharma practice.</p>
    <a class="project-link" href="http://swiperxapp.com/" target="_blank">Check it out</a>
  </div>
</div>
